# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Build.
dist
build

# gustavo config
gustavo.config.js
dummy/gustavo.config.js

# @nuxt/workbox
static/sw.js
static/workbox-sw*.js

.esm-cache
