// Variables.
$size-unit: 1rem;
$font-size: 0.9rem;

// Colors.
$color-light: white !default;
$color-gray: #eee !default;
$color-dark: black !default;

$color-background: $color-light;
$color-font: $color-dark;
$color-border: $color-dark;
$color-code: $color-gray;
$color-heading-hash: $color-gray;
